:root {
    --nav-block-size: 3rem;
    --global-spacing: 2rem;
    --global-border-style: thin solid #eee;
    --splash-screen-fg: black;
    --splash-screen-bg: white;
    --tab-size: 4;
}

body {
    display: grid;
    grid-template: 
        'nav' var(--nav-block-size)
        'src' 1fr
    / 100vw;
    height: 100vh;
    overflow: hidden;
}

/** nav **/

nav {
    grid-area: nav;
    height: 100%;
}

nav > ul {
    display: grid;
    grid-template:
        'head shader info controls' var(--nav-block-size)
    /    1fr 1fr 1fr auto;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1rem black;
}

nav > ul > li + li {
    box-sizing: border-box;
    border: var(--global-border-style);
}

body:not(.module-loaded) > nav > ul > li:not(.head) {
    display: none;
}

/** nav head **/

nav > ul > li.head {
    grid-area: head;
    display: grid;
    place-content: center start;
    padding-inline: var(--global-spacing);
}

/** dropdown lists **/

.dropdown > details > summary {
    height: 100%;
    width: 100%;
    place-content: center start;
    box-sizing: border-box;
    padding: calc(var(--global-spacing) / 2) var(--global-spacing);
    cursor: pointer;
}

.dropdown > details > ul {
    display: grid;
    grid-template-columns: 100%;
    place-content: start;
    grid-auto-rows: var(--nav-block-size);

    width: 100%;
    max-height: calc(100vh - 2 * var(--nav-block-size));
    overflow: auto;

    background: white;
}

.dropdown > details > ul > li {
    display: grid;
    width: 100%;
}

.dropdown > details > ul > li > a {
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center start;
    box-sizing: border-box;
    padding: 0 var(--global-spacing);
    transition: 0.3s all;
}

.dropdown a:hover,
.dropdown a:focus {
    background: #eee;
}

/** controls **/

.control-list {
    grid-area: controls;
    display: grid;
    grid-template:
        'expand-all collapse-all' 1fr
    / auto auto;
    height: 100%;
    place-content: center end;
    gap: var(--global-spacing);
    box-sizing: border-box;
    padding-inline: var(--global-spacing);
}

.control-list > * {
    text-decoration: underline;
    text-transform: capitalize;
    display: grid;
    place-content: center;
}

/** code.hljs **/

pre.shader-source {
    grid-area: src;
    height: 100%;
    overflow: hidden;
}

pre > code.hljs {
    white-space: pre;
    height: 100%;
    width: 100%;
    overflow: auto;
    font: 1em / 2 monospace;
    tab-size: var(--tab-size);
    -moz-tab-size: var(--tab-size);
    box-sizing: border-box;
    padding-inline-start: 3ch;
}

/* show/hide copy */

code.hljs > details > summary > .copy { 
    display: none; 
    padding: 0 1ch; 
    text-decoration: underline;
}

code.hljs > details:hover > summary > .copy,
code.hljs > details[open] > summary > .copy {
    display: unset;
}

/* cursor */

code.hljs > details > summary,
code.hljs > details > .end-tag {
    cursor: pointer;
}

/* hide double slashes */

code.hljs > details .slash {
    display: none;
}

/** splash screen **/

body > .splash-screen {
    grid-area: src;
    width: 100%;
    height: 100%;
    background: var(--splash-screen-bg);
    color: var(--splash-screen-fg);
    display: grid;
    place-content: center;
    place-items: center;
}

body.module-loaded > .splash-screen {
    display: none;
}