:root {
    --nav-block-size: 3rem;
    --global-spacing: 2rem;
    --global-border-style: thin solid #eee;
}

body {
    display: grid;
    grid-template: 
        'nav' var(--nav-block-size)
        'src' 1fr
    / 100vw;
    height: 100vh;
    overflow: hidden;
}

nav {
    grid-area: nav;
    height: 100%;
}

nav > ul {
    display: grid;
    grid-template:
        'head shader info controls' var(--nav-block-size)
    /    1fr 1fr 1fr auto;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1rem black;
}

nav > ul > li + li {
    box-sizing: border-box;
    border: var(--global-border-style);
}

/** head **/

nav > ul > li.head {
    grid-area: head;
    display: grid;
    place-content: center start;
    padding-inline: var(--global-spacing);
}

/** dropdown-able **/

.dropdown { position: relative; }
.dropdown::before {
    content: '▼';
    position: absolute;
    right: calc(var(--global-spacing) / 2);
    top: 1rem;
}

.dropdown > a {
    display: grid;
    height: 100%;
    width: 100%;
    place-content: center start;
    box-sizing: border-box;
    padding: 0 var(--global-spacing);
}

.dropdown > a + ul {
    display: none;
    grid-template-columns: 100%;
    place-content: start;
    grid-auto-rows: var(--nav-block-size);

    position: relative;
    z-index: 1;

    width: 100%;
    max-height: calc(100vh - 2 * var(--nav-block-size));
    overflow: auto;

    background: white;
}

.dropdown > a:focus + ul,
.dropdown > ul:hover {
    display: grid;
}

.dropdown > ul > li {
    display: grid;
    width: 100%;
}

.dropdown > ul > li > a {
    /* display: grid; */
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center start;
    box-sizing: border-box;
    padding: 0 var(--global-spacing);
}

.dropdown a {
    transition: 0.3s all;
}
.dropdown a:hover {
    background: #eee;
}

/** controls **/

.control-list {
    grid-area: controls;
    display: grid;
    grid-template:
        'expand-all collapse-all' 1fr
    / auto auto;
    height: 100%;
    place-content: center end;
    gap: var(--global-spacing);
    box-sizing: border-box;
    padding-inline: var(--global-spacing);
}

.control-list > * {
    text-decoration: underline;
    text-transform: capitalize;
    display: grid;
    place-content: center;
}

/** code.hljs **/

pre.shader-source {
    grid-area: src;
    height: 100%;
    overflow: hidden;
}

pre > code.hljs {
    white-space: pre;
    height: 100%;
    width: 100%;
    overflow: auto;
    font: 1em / 1.25 monospace;
    tab-size: 4;
    -moz-tab-size: 4;
    box-sizing: border-box;
}

/** disable summary marker **/

pre > code.hljs summary { list-style-type: none; }
pre > code.hljs summary::-webkit-details-marker { display: none; }

/** show/hide copy **/

code summary .copy { 
    display: none; 
    padding: 0 1ch; 
    text-decoration: underline;
}

code details:hover .copy {
    display: unset;
}

/** on hover details **/

code details:hover {
    background: black;
}

/** cursor **/

details summary,
code details .end-tag {
    cursor: pointer;
}
