:root {
  --fg: #222;
  --bg: #fff;
  --bg2: #eee;
  --label-lib-icon: url(https://s2.svgbox.net/octicons.svg?ic=package&color=222);
  --label-shader-icon: url(https://s2.svgbox.net/octicons.svg?ic=pencil&color=222);
  --label-kind-icon: url(https://s2.svgbox.net/octicons.svg?ic=server&color=222);
  --label-macros-icon: url(https://s2.svgbox.net/octicons.svg?ic=workflow&color=222);
  --label-theme-icon: url(https://s2.svgbox.net/octicons.svg?ic=sun&color=222);
  --logo:
    url(https://s2.svgbox.net/octicons.svg?ic=git-fork&color=222) center/contain no-repeat,
    repeating-conic-gradient(var(--bg2) 0% 25%, transparent 0% 50%) center/20px 20px;
}

.dark-theme {
  --fg: #ddd;
  --bg: #1e1e1e;
  --bg2: #2e2e2e;
  --label-lib-icon: url(https://s2.svgbox.net/octicons.svg?ic=package&color=ddd);
  --label-shader-icon: url(https://s2.svgbox.net/octicons.svg?ic=pencil&color=ddd);
  --label-kind-icon: url(https://s2.svgbox.net/octicons.svg?ic=server&color=ddd);
  --label-macros-icon: url(https://s2.svgbox.net/octicons.svg?ic=workflow&color=ddd);
  --label-theme-icon: url(https://s2.svgbox.net/octicons.svg?ic=sun&color=ddd);
  --logo:
    url(https://s2.svgbox.net/octicons.svg?ic=git-fork&color=ddd) center/contain no-repeat,
    repeating-conic-gradient(var(--bg2) 0% 25%, transparent 0% 50%) center/20px 20px;
}


/* --- */

body,
main,
nav {
  color: var(--fg);
  background: var(--bg);
}

a {
  color: var(--fg);
}

main {
  font: 1rem monospace;
  display: grid;
  grid-template:
    'h1 code'auto 'nav code'1fr / 22ch 1fr;
  height: 100vh;
  width: 100%;
}

select,
input,
button,
option {
  display: block;
  padding: 1rem;
  margin: 0;
  color: var(--fg);
  background: var(--bg2) !important;
  box-sizing: border-box;
}

input:focus {
  text-decoration: none;
}



/* h1 logo */

h1 {
  grid-area: h1;
  box-sizing: border-box;
  padding: 1rem;
}

h1>a {
  display: block;
  background: var(--logo);
  width: 100%;
  aspect-ratio: 16 / 9;
  text-indent: -100vw;
}



/* nav */

nav {
  grid-area: nav;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: start center;
  gap: .5rem;
  overflow: auto;
}

nav dl {
  display: grid;
  gap: .5rem;
}

nav select,
nav input,
nav button {
  width: 100%;
  border: 0 none;
  box-sizing: border-box;
  text-decoration: underline;
  background: transparent;
  text-align: start;
}

nav button,
nav select {
  cursor: pointer;
}

nav dt {
  position: relative;
}

nav dt[id*='label-']::after {
  content: "";
  display: inline-block;
  height: 1rem;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

nav #label-lib::after {
  background-image: var(--label-lib-icon);
}

nav #label-shader::after {
  background-image: var(--label-shader-icon);
}

nav #label-kind::after {
  background-image: var(--label-kind-icon);
}

nav #label-macros::after {
  background-image: var(--label-macros-icon);
}

nav #label-theme::after {
  background-image: var(--label-theme-icon);
}



/* code */

#pre-code {
  grid-area: code;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 1em;
}

#pre-code>code {
  font-size: 1rem;
}



/* .incl ( the span holding '#include <..>' macro ) */

.incl {
  cursor: pointer;
}

.incl br {
  display: none;
}

.incl+.incl-content {
  display: none;
  min-width: calc(100% - 2 * .5em);
  outline: thin dashed currentColor;
  margin-inline-end: calc(.5em);
}

.incl.open {
  text-decoration: line-through;
  filter: saturate(.5);
}

.incl.open br {
  display: unset;
}

.incl.open+.incl-content {
  display: inline-block;
}